.Background {
    position: relative;
    min-height: 100vh;  
    display: flex;
    align-items: center;  
    justify-content: center;
    overflow: hidden;
}

.Background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/images/background.png") no-repeat center center;
    background-size: cover;
    filter: blur(10px);  /* Adjust the blur level here */
    z-index: -1;  /* Push it behind the content */
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    background-blend-mode: multiply;  /* Combine image and overlay */
}
