.Background {
    position: relative;
    min-height: 100vh;  
    display: flex;
    align-items: center;  
    justify-content: center;
    overflow: hidden;
}

.Background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/images/background.png") no-repeat center center;
    background-size: cover;
    filter: blur(10px);  /* Adjust the blur level here */
    z-index: -1;  /* Push it behind the content */
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    background-blend-mode: multiply;  /* Combine image and overlay */
}

.auth_form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Glassy effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    max-width: 700px;
    width: 100%;
   
}

.auth_form input[type="email"],
.auth_form input[type="text"],
.auth_form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.auth_form input[type="email"]::placeholder,
.auth_form input[type="text"]::placeholder,
.auth_form input[type="password"]::placeholder {
    color: #ddd;
}

.auth_form input[type="email"]:focus,
.auth_form input[type="text"]:focus,
.auth_form input[type="password"]:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.3);
}

.buy_btn.auth_btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy_btn.auth_btn:hover {
    background-color: #0056b3;
}

.buy_btn.auth_btn:disabled {
    background-color: #b3d7ff;
    cursor: not-allowed;
}
